<h1>Editing Destination</h1>

<%= render 'form', destination: @destination %>


<div class="actions form-group">
	<%= link_to 'Show', @destination, class: "btn btn-warning" %>
	<%= link_to 'Back', destinations_path, class: "btn btn-info" %>
</div>
